begin
    flags = startup_mode
    mode = TV-off
end


begin TV-off

	begin
		button = RESERVED
		repeat = 0
		prog = irexec
		config = if xset q | grep "DPMS is Enabled" > /dev/null ; then xset -dpms; else xset dpms force off; fi
	end

 	begin
		prog = kradio
		config = eventmap
	end

	begin
		button = TV
		repeat = 0
		prog = irexec
		config = xset -dpms && sleep 1 && tvtime &
	end

	begin
		button = TV
		mode = TV-on
		flags = quit
	end

end TV-off



begin TV-on


# The following defines most of the common buttons found on a remote and
# what commads they would map to inside tvtime.

begin
    prog = irexec
    button = SOURCE
    config = tvtime-command TOGGLE_INPUT
end

#begin
#    prog = irexec
#    button = DISPLAY
#    config = tvtime-command DISPLAY_INFO
#    repeat = 1
#end

begin
    prog = irexec
    button = FULL_SCREEN
    config = tvtime-command TOGGLE_FULLSCREEN
end

#begin
#    prog = irexec
#    button = CC
#    config = tvtime-command TOGGLE_CC
#end

begin
    prog = irexec
    button = MUTE
    config = tvtime-command TOGGLE_MUTE
end

# Menu navigation.
begin
    prog = irexec
    button = CH+
    config = tvtime-command UP
    repeat = 0
end
begin
    prog = irexec
    button = CH-
    config = tvtime-command DOWN
    repeat = 0
end
begin
    prog = irexec
    button = VOL+
    config = tvtime-command RIGHT
    config = tvtime-command RIGHT
    repeat = 1
end

begin
    prog = irexec
    button = VOL-
    config = tvtime-command LEFT
    config = tvtime-command LEFT
    repeat = 1
end

#begin
#    prog = irexec
#    button = RECALL
#    config = tvtime-command CHANNEL_JUMP
#    repeat = 1
#end

begin
    prog   = irexec
    button = 1
    config = tvtime-command CHANNEL_1
end
begin
    prog   = irexec
    button = 2
    config = tvtime-command CHANNEL_2
end
begin
    prog   = irexec
    button = 3
    config = tvtime-command CHANNEL_3
end
begin
    prog   = irexec
    button = 4
    config = tvtime-command CHANNEL_4
end
begin
    prog   = irexec
    button = 5
    config = tvtime-command CHANNEL_5
end
begin
    prog   = irexec
    button = 6
    config = tvtime-command CHANNEL_6
end
begin
    prog   = irexec
    button = 7
    config = tvtime-command CHANNEL_7
end
begin
    prog   = irexec
    button = 8
    config = tvtime-command CHANNEL_8
end
begin
    prog   = irexec
    button = 9
    config = tvtime-command CHANNEL_9
end
begin
    prog   = irexec
    button = 0
    config = tvtime-command CHANNEL_0
end

#begin
#    prog = irexec
#    button = ENTER
#    config = tvtime-command ENTER
#end


    begin
    	prog   = irexec
    	button = RESERVED
    	config = tvtime-command QUIT
    end

    begin
    	prog   = irexec
    	button = MINIMIZE
    	config = tvtime-command QUIT
    end

    begin
    	prog   = irexec
    	button = RADIO
    	config = tvtime-command QUIT
    end

    begin
    	prog   = irexec
    	button = TV
    	config = tvtime-command QUIT
    end

    begin
        button = RESERVED
        mode = TV-off
        flags = quit
    end

    begin
        button = TV
        mode = TV-off
        flags = quit
    end


    begin
	button = MINIMIZE
	mode = TV-off
	flags = quit
    end


    begin
        button = RADIO
        mode = TV-off
        flags = quit
    end


end TV-on

