[Desktop Entry]
Type=Application
Name=kradio5
Exec=kradio5 -caption %c
Icon=kradio5
Comment=V4L/V4L2-Radio Application for KDE4
Terminal=false
Categories=Qt;KDE;AudioVideo;
