[QuickBar]
Geometry=473,248,414,66
desktop=5
h=50
hidden=true
layoutVertical=false
showShortName=true
sticky=false
w=1351
x=43
y=364

[Recent]
Frequency=91.25
PowerOn=false
Volume=0.71

[alarms]
daily1=false
daily2=true
enabled1=false
enabled2=true
nAlarms=2
stationID1=-1
stationID2=-1
time1=2003,1,6,7,0,0
time2=2003,1,13,21,34,0
volume1=-0.01
volume2=-0.01

[devices]
MixerChannel=line
MixerDev=/dev/mixer
RadioDev=/dev/radio
fMaxOverride=108
fMinOverride=87
fRangeOverride=true

[kradio-gui]
Geometry=268,3,320,109
PositionX=264
PositionY=-29
desktop=-1
hidden=false
sticky=true

[sleep]
sleepMinutes=30
