[Alarm]
Alarm_1 daily=false
Alarm_1 enable=true
Alarm_1_D=15
Alarm_1_M=12
Alarm_1_Y=2002
Alarm_1_h=8
Alarm_1_m=0
Alarm_2 daily=false
Alarm_2 enable=false
Alarm_2_D=19
Alarm_2_M=1
Alarm_2_Y=2002
Alarm_2_h=13
Alarm_2_m=17
Alarm_3 daily=false
Alarm_3 enable=false
Alarm_3_D=31
Alarm_3_M=12
Alarm_3_Y=1799
Alarm_3_h=0
Alarm_3_m=0
Alarm_4 daily=false
Alarm_4 enable=false
Alarm_4_D=31
Alarm_4_M=12
Alarm_4_Y=1799
Alarm_4_h=0
Alarm_4_m=0

[Recent]
LastFrequence=90.8125
LastVolume=65535
MixerDev=/dev/mixer
PositionX=0
PositionY=-11
PowerOn=true
RadioDev=/dev/radio
desktop=-1
sticky=true

[StationButtons]
Stationbutton_10_Frequ=87.85
Stationbutton_10_Name=Radio Aachen
Stationbutton_11_Frequ=103.9
Stationbutton_11_Name=Antenne AC
Stationbutton_12_Frequ=91.85
Stationbutton_12_Name=
Stationbutton_13_Frequ=0
Stationbutton_13_Name=
Stationbutton_14_Frequ=0
Stationbutton_14_Name=
Stationbutton_1_Frequ=88.75
Stationbutton_1_Name=Eins Live
Stationbutton_2_Frequ=92.55
Stationbutton_2_Name=WDR 2
Stationbutton_3_Frequ=91.25
Stationbutton_3_Name=WDR 3
Stationbutton_4_Frequ=89.35
Stationbutton_4_Name=WDR 4
Stationbutton_5_Frequ=90.85
Stationbutton_5_Name=WDR Radio 5
Stationbutton_6_Frequ=100.55
Stationbutton_6_Name=Deutschlandfunk
Stationbutton_7_Frequ=104.3
Stationbutton_7_Name=Deutschlandradio Berlin
Stationbutton_8_Frequ=96.75
Stationbutton_8_Name=BRT3
Stationbutton_9_Frequ=87.55
Stationbutton_9_Name=Klassikradio
