# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kradio -caption "%c" %i %m  
Icon=kradio.png
DocPath=kradio/index.html
Comment=
Comment[de]=
Terminal=false
Name=KRadio
Name[de]=KRadio
Categories=Qt;KDE;AudioVideo;
